button {
    outline: none;
    cursor: pointer;
    transition: all .5s;
}
.primary_btn {
    background-color: $secondary-color;
    padding: 1rem 3rem;
    font-size: 1.3rem;
    border: none;
    color: $white;

    &:hover {
        background-color: $black;
    }
}
.primary_btn_blue {
    background-color: $blue;
    padding: 1rem 3rem;
    font-size: 1.3rem;
    border: none;
    color: $white;
    border-radius: 1rem;

    &:hover {
        background-color: $black;
    }
}

.secontary_btn {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: .5rem 2rem;
    font-size: 1.2rem;
    color: $secondary-color;
    border-radius: 1rem;
    font-weight: 900;
    border: 1px dashed currentColor;

    &  span {
        font-size: 3rem;
        margin-right: 1rem;
        font-weight: 10;
    }

    &:hover {
        background-color: $secondary-dark;
        color: white;
    }
}