.sidebar {
    background-color: $secondary-dark;
    grid-column: barstart / barend;
    padding: 2rem 0;
    min-height: 90vh;
    z-index: 100;

    @media only screen and (max-width: $bplarge) {
        min-height: min-content;
        padding: 0;
    }

    &  .heading2 {
        text-align: center;
        color: $white;
        border: 1px solid rgba(255, 255, 255, 0.151);
        border-left: none;
        border-right: none;
        margin-bottom: 2rem;

        @media only screen and (max-width: $bplarge) {
            display: none;
        }
    }

    &  .nav {
        padding: 1rem 0;
        margin-top: 5rem;

        @media only screen and (max-width: $bplarge) {
            padding: 0;
        }

        &  .list {
            list-style: none;

            @media only screen and (max-width: $bplarge) {
                display: flex;
                justify-content: space-evenly;
            }

            &  li {
                display: flex;
                align-items: center;
                
                padding: 1.5rem 2rem;
                font-size: 1.3rem;
                color: $white;
                cursor: pointer;
                text-transform: uppercase;
                position: relative;
                z-index: 1;
                transition: all 1s;

                @media only screen and (max-width: $bpsmall) {
                    display: block;
                }

                &  .text {
                    @media only screen and (max-width: $bpsmall) {
                        display: none;
                        width: min-content;
                    }
                }

                &  .font {
                    margin-right: 1rem;
                    
                }

                &::before {
                    content: "";
                    width: 0;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: $white;
                    z-index: -1;
                    transition: all .5s ease-out;

                    @media only screen and (max-width: $bplarge) {
                        display: none;
                    }
                }

                &:hover {
                    color: $secondary-color;
                    width: 100%;
                }
                &:hover::before {
                    width: 100%;
                }
            }
            &  .clicked {
                background-color: $white;
                color: $secondary-color;
            }
        }
    }
}