*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

// defining the value of 1rem
html {
  font-size: 62.5%;
  color: black;
  font-family: sans-serif;

  // @media only screen and (max-width: $bplargest) {
  //   font-size: 51.67%;
  // }
}
body {
  margin: 0;
  padding: 0;
  color: $white;
  background-color: $black;
}
p {
  font-size: 1.3rem;
}
.font {
  color: gray;
  font-size: 2rem;
}

.App {
}