$primary-color: rgb(60, 255, 0);
$primary-light: rgb(199, 255, 182);

$secondary-color: rgb(56, 131, 7);

$light-background: rgb(247, 243, 239);

$bordercolor: rgb(160, 160, 160);
$lightbordercolor: rgb(230, 230, 230);

$lightgray: rgb(190, 190, 190);

$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

$font: rgb(126, 138, 141);




//////////////// media query break points ////////////////////

$bplargest: 53.125em;  //850px
$bplarge: 40.63em;  //650px
$bpmedium: 35.25em;  //580px
$bpsmall: 28.13em;  //450px
$bpsmallest: 24.38em;  //390px