$primary-orange: rgb(255, 145, 0);
$primary-red: rgb(255, 51, 0);
$primary-blue: rgb(77, 188, 252) ;

$secondary-orange: rgb(87, 50, 1);
$secondary-blue: rgb(0, 27, 41) ;

$light-primary-blue:  rgb(203, 232, 248) ;
$light-primary-orange:  rgb(255, 245, 230);

$light-background: rgb(247, 243, 239);

$bordercolor: rgb(160, 160, 160);
$lightbordercolor: rgb(230, 230, 230);

$lightgray: rgb(190, 190, 190);

$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

$font: rgb(126, 138, 141);




//////////////// media query break points ////////////////////

$bplargest: 53.125em;  //850px
$bplarge: 40.63em;  //650px
$bpmedium: 35.25em;  //580px
$bpsmall: 28.13em;  //450px
$bpsmallest: 24.38em;  //390px